# Completion
if [ -d ~/.zsh/comp/ ]; then
  fpath=(~/.zsh/comp/ $fpath)
  autoload -U ~/.zsh/comp/*(:t)
fi

autoload -Uz compinit promptinit
compinit
promptinit

setopt histignorealldups sharehistory

# Keep 1000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.zsh_history

setopt HIST_IGNORE_SPACE

# Antibody Plugins
source ~/.zsh_plugins.sh

# Alias
alias ls='ls -F --color=always --group-directories-first'
alias ll='LC_COLLATE=C ls -lah'
alias la='ls -CA'
alias df='df -h'
alias du='du -ch'
alias grep='grep --color=auto'

alias myip='curl ipinfo.io/ip'
alias zsh-plugins-update='antibody bundle < ~/.zsh_plugins.txt > ~/.zsh_plugins.sh'

# Env
# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    \export PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    \export PATH="$HOME/.local/bin:$PATH"
fi

\export EDITOR=$(which nano)

{{- if eq .chezmoi.hostname "L380" }}
# L380
# Anaconda
if [ -f "/opt/anaconda3/etc/profile.d/conda.sh" ]; then
  source "/opt/anaconda3/etc/profile.d/conda.sh"
  CONDA_CHANGEPS1=false conda activate base
fi

# Shadow 20.04 fix
\export LIBVA_DRIVER_NAME=i965
{{- end }}
