# Completion
[ -d ~/.zsh/completions/ ] \
  && fpath=(~/.zsh/completions/ $fpath) \
  && autoload -U ~/.zsh/completions/*(:t)

autoload -Uz compinit promptinit
compinit
promptinit

setopt histignorealldups sharehistory

# Keep 1000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.zsh_history

setopt HIST_IGNORE_SPACE

# Antibody Plugins
source ~/.zsh_plugins.sh

# Alias
alias ls='ls -F --color=always --group-directories-first'
alias ll='LC_COLLATE=C ls -lah'
alias la='ls -CA'
alias df='df -h'
alias du='du -ch'
alias grep='grep --color=auto'
alias ip='ip --color'

alias myip='curl ipinfo.io/ip'
alias zsh-plugins-update='antibody bundle < ~/.zsh_plugins.txt > ~/.zsh_plugins.sh'
alias wttr='printf "\e[8;41;125t" && curl -q -H "Accept-Language: de" wttr.in/Berlin'
alias youtube-dl-music="youtube-dl --extract-audio --audio-format mp3 -o '%(title)s.%(ext)s'"

# Env
# set PATH so it includes user's private bin if it exists
[ -d "$HOME/bin" ] &&  \export PATH="$HOME/bin:$PATH"
[ -d "$HOME/.local/bin" ] && \export PATH="$HOME/.local/bin:$PATH"

\export EDITOR=$(which nano)
[ -x `command -v go` ] && \export GOPATH=$(go env GOPATH)

{{- if eq .chezmoi.hostname "L380" }}
# L380
# Anaconda
[ -f "/opt/anaconda3/etc/profile.d/conda.sh" ] \
  && source "/opt/anaconda3/etc/profile.d/conda.sh" \
  && CONDA_CHANGEPS1=false conda activate base

# Shadow 20.04 fix
\export LIBVA_DRIVER_NAME=i965
{{- end }}
